body {
    background-color: #f4f4f4;
  }
  
  .product img {
    max-width: 100px;
  }
  
  #cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    cursor: pointer;
  }
  